<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../dist/output.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>Propietarios</title>
</head>

<body class="bg-yellow-50 dark:bg-gray-600">

  <header class="mb-4">
    <nav class=" border-gray-200 dark:bg-gray-700 px-4 lg:px-6 py-5 shadow-md bg-amber-400">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
        <a href="#" class="flex items-center">
          <img src="../../../src/svg/icono_restaurante.svg" class="mr-3 h-6 sm:h-16" alt="Flowbite Logo" />
          <span
            class="self-center text-4xl font-bold whitespace-nowrap dark:text-base text-white dark:text-white">Administración
            propietarios</span>
        </a>

        <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu">
          <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
            <li>
              <a href="../index.html" class="block text-lg font-bold mb-1 bg-amber-400 dark:bg-gray-700 text-white">
                Inicio</a>
            </li>
            <li>
              <select class="block text-lg font-bold mb-1 bg-amber-400 dark:bg-gray-700 text-white"
                id="opcionesProducto" onchange="redirigirUsuario()">
                <option class="font-bold" value="#">Gestionar administracion</option>
                <option class="bg-yellow-100 text-black " value="../inventario/inventario.html">Inventario</option>
                <option class="bg-yellow-100 text-black " value="../platillo/platillos.html">Platillos</option>
                <!-- <option value="cliente.html">Cliente</option>  -->
              </select>
            </li>
            <li>
              <select class="block text-lg font-bold mb-1 bg-amber-400 dark:bg-gray-700 text-white" id="opciones"
                onchange="redirigir()">
                <option class="font-bold" value="#">Altas de usuario</option>
                <option class="bg-yellow-100 text-black " value="../users/propietario.html">Propietario</option>
                <option class="bg-yellow-100 text-black " value="../users/chef.html">Chef</option>
                <option class="bg-yellow-100 text-black " value="../users/cliente.html">Cliente</option>
              </select>
            </li>
            <li>
              <div class="relative">
                <button id="menuButton" class="rounded-full w-10 h-10 focus:outline-none">
                  <img src="../../../src/img/Hamburger.jpg" class="rounded-full w-full h-full" alt="Imagen">
                </button>
                <div id="menuDropdown"
                  class="absolute right-0 mt-2 py-2 w-48 bg-yellow-400 border border-yellow-400 rounded-lg shadow-lg hidden">
                  <a href="../../public/login.html" class="block px-4 py-2 hover:bg-yellow-600 text-white">Cerrar
                    sesión</a>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="">
    <!-- Barra de Busqueda -->
    <div class="p-3">
      <form class="border-gray-200 dark:bg-gray-700 shadow-md">
        <label for="search" class="mb-2 text-sm font-medium text-black sr-only dark:text-white">Buscar</label>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-4 h-4 text-black dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
          </div>
          <input type="text" id="buscador"
            class="block w-full p-4 pl-10 text-xl text-black border border-gray-300 rounded-lg bg-transparent focus:ring-yellow-500 focus:border-yellow-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-yellow-500 dark:focus:border-yellow-500"
            placeholder="Buscar en inventario" required>
        </div>
      </form>
    </div>
    
    <!-- Tabla -->
    <div class="flex flex-col p-3">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div>
            <a href="../users/nuevoPropietario.html"
              class="inline-flex items-center bg-yellow-700 hover:bg-yellow-800 text-white font-bold py-4 px-8 rounded mr-2 h-10">Agregar
              <img class="ml-3 h-4" src="../../../src/svg/nuevo.svg" alt="Agregar">
            </a>
          </div>
          <div class="overflow-hidden">
            <table class="min-w-full text-left text-sm font-light ">
              <thead class="border-b border-black font-medium dark:border-neutral-500">
                <tr class="uppercase">
                  <th scope="col" class="px-6 py-4 text-lg dark:text-white">id</th>
                  <th scope="col" class="px-6 py-4 text-lg dark:text-white">Nombre</th>
                  <th scope="col" class="px-6 py-4 text-lg dark:text-white">Apellido paterno</th>
                  <th scope="col" class="px-6 py-4 text-lg dark:text-white">Apellido materno</th>
                  <th scope="col" class="px-6 py-4 text-lg dark:text-white">Direccion</th>
                  <th scope="col" class="px-6 py-4 text-lg dark:text-white">Telefono</th>
                  <th scope="col" class="px-6 py-4 text-lg dark:text-white">Correo</th>
                  <th scope="col" class="px-6 py-4 text-lg dark:text-white">Usuario</th>
                  <th scope="col" class="px-6 py-4 text-lg dark:text-white">Salario</th>
                  <th scope="col" class="px-6 py-4 text-lg dark:text-white">Opciones</th>
                </tr>
              </thead>
              <tbody id="datosInventario">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
<script src="../users/js/propietario.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  function redirigir() {
    var select = document.getElementById("opciones");
    var opcionSeleccionada = select.value;

    if (opcionSeleccionada !== "") {
      window.location.href = opcionSeleccionada;
    }
  }

  function redirigirUsuario() {
    var select = document.getElementById("opcionesProducto");
    var opcionSeleccionada = select.value;

    if (opcionSeleccionada !== "") {
      window.location.href = opcionSeleccionada;
    }
  }
</script>
<script>
  const menuButton = document.getElementById('menuButton');
  const menuDropdown = document.getElementById('menuDropdown');

  menuButton.addEventListener('click', function () {
    menuDropdown.classList.toggle('hidden');
  });
</script>

</html>